{% extends "layouts/base.njk" %}

{% block content %}
  <section class="window">
    <div class="window-title">404</div>
    <div class="window-body">
      <h1>Page not found</h1>
      <p><a href="/">Back to home</a></p>
    </div>
  </section>
{% endblock %}
